@charset "ISO-8859-1";

#nav{
	background-color:#1a385b;
	width: 100%;
	height: 27px;
	margin-bottom: 0px; 
	
}


a:link, a:visited{
	text-decoration: none;
	color: white;
	font-size: 17px;
	 
}
a:hover  {
	color: #ffff00;
}

#hItem{
	float: left;
	margin-left: 11px;
}
#log{
	float: right;
	margin-right: 12px;	 
}